*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.466);
    z-index: 999;
    animation: fromTop 2s ease-in-out;
}

@keyframes fromTop {
    0%{
        transform: translateY(-70px);
    }
    100%{
        transform: translateY(0px);
    }
}


.wrap-img{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrap-links{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.wrap-links a{
    text-decoration: none;
    color: rgb(194, 65, 56);
    font-weight: bold;
    transition:all 200ms ease-in-out;
}
.wrap-links a:hover{
    text-decoration: underline;
    color: #b16d6d;
}


.logo{
    width: 80px;
    height: 80px;
}

#s1{
    min-height: 100vh;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fromLeft 2s ease-in-out;

}
@keyframes fromLeft {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;

    }
}


.right{
    width: 400px;
     animation: fromRight 2s ease-in-out;
}
@keyframes fromRight {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;

    }
}

.wrap-banner{
    border-radius: 20px;
    overflow: hidden;
    width: 400px;
    height: auto;
}
.wrap-banner img{
    width: 400px;
    height: auto;
    filter: grayscale(60%);
    transition: all 200ms ease-in-out;
}

.wrap-banner img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
}

.right h1{
    font-size: 40px;
    width: 100%;

}

.right p{
    width: 18px;
    width: 100%;
}

#s2{
    min-height: 100vh;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: content;
    gap: 4vh;
}
.wrap-cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.card{
    width: 230px;
    padding: 20px;
    border: 2px solid #090909;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card img{
    margin-bottom: 20px;
    transition: all 200ms linear;
    border-radius: 16px;
}
.card:hover img{
    transform: scale(1.2);
    box-shadow: 0px 3px 20px #090909;
}

#s3{
    min-height: 100vh;
    width: 100%;
    padding-top: 130px;
}

#s3 iframe{
    width: 766px;
    height: 430px;
}

.wrap-video{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#s4{
    min-height: 100vh;
    padding-top: 80px;
}
.wrap-produtos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.card{
    width: 230px;
    padding: 20px;
    border: 2px solid #090909;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card img{
    margin-bottom: 20px;
    transition: all 200ms linear;
    border-radius: 16px;
}
.card:hover img{
    transform: scale(1.2);
    box-shadow: 0px 3px 20px #090909;
}


@media (width <= 768px){
    nav{
        flex-direction: column;
        height: auto;
        padding-bottom: 15px;
    }

    .wrap-links a{
        text-align: center;
    }
   
    #s1{
        flex-direction: column;
        padding-top: 140px ;
    }
    .left{
    width: 100%;
}

.right p{
    padding-top: 10px;
}

.right{
    width: 100%;
    text-align: center;
    padding-top: 20px;
}
.wrap-banner{
    width: 250px;
    height: 350;
}
.wrap-banner img{
    width: 250px;
    height: 300px;
}
#s3{
    min-height: 50vh;
    height: auto;
    width: 100%;
}

#s3 iframe{
    width: 700px;
    height: 300px;
}


}